
          
.sliding-text {
  position: relative;
  overflow: hidden;
  background-color: none;
  padding: 5px;
  white-space: nowrap;
  --speed: 20s;
}

.sliding-text .sliding-effects-start-burning {
  color:  #00AEEF;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  display: inline-block;
}

.sliding-text .start-burning-widget-container {
  display: flex;
  animation: sliding var(--speed) linear infinite;
}

@keyframes sliding {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-50%);
  }
}


/* Add more styles for additional pages as needed */
/* For example, :nth-of-type(3), :nth-of-type(4), and so on */

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(0, 8, 8);
}

.card-selection-option {
  height: 100%;
}
  
.minimize-btn-card {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: none !important;
  border: none !important;
  font-size: 20px;
  color:black !important;
}

.card-main{
  border: none;
  
}

.border-card{
  border-color: #00AEEF;
}

.calculation-title.minimized {
  display: none;
}

.info-circle:hover {
  cursor: pointer;
  color: #00AEEF;
  text-decoration: underline;
}
.card-capital-expenses,
.card-asic,
.card-indirect-revenue,
.card-operating-expenses-cash,
.card-operating-expenses-noncash,
.card-salvage-value-package {
    border-bottom: none;
}

.title-input h5 {
  font-size: 1.0rem; 
  margin-bottom: 5px;
}

.asic-input {
  text-align: center;
}

.thead-id,
.card-title {
  color: #00AEEF; 
}

.loading-placeholder {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #00AEEF;
  border-bottom-color: transparent;
  animation: rotateMushroom 1.5s linear infinite;
}

@keyframes rotateMushroom {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-border {
  border: 1px solid red;
}

.resultsaverage {
background-color: none;
height: 100%;
border-radius: 10px;
color: white !important;
}

.average-total {
  color: black !important;
  text-size-adjust: 60pt !important; 
}

.avg-total-title{
  color: black !important;
  font-family: Arial;
  font-weight: 300;

}
#switch{
  top: 1%;
  left: 55%;
  width: 75px;
  height: 40px;
}

.color-highlight {
  margin-top: -15px;
  margin-bottom: 18px;
  padding-top: 18px;
  border-top: 1px solid #ebeef3;
  color: #3498db;
}
.toggle{
  position: absolute;
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color .6s  ease-out;
  transition: border-color .6s  ease-out;
  box-sizing: border-box;
}

.toggle.toggle-on{
  border-color: rgba(137, 194, 217, .4);
  -webkit-transition: all .5s .15s ease-out;
  transition: all .5s .15s ease-out;
}

.toggle-button{
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #444249;
  border-radius: 19px; 
  cursor: pointer;
  -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
  top: 3px;
  width: 65px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: #00AEEF;
  box-shadow: 0 0 16px #4b7a8d;
  -webkit-transition: all .2s .1s, right .1s;
  transition: all .2s .1s, right .1s;
}


.toggle-text-on{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
  color: #3b6a7d;
  -webkit-transition: color .3s .15s ;
  transition: color .3s .15s ;
}

.toggle-text-off{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #444249;
}

.toggle-on .toggle-text-off{
  color: rgba(0,0,0,0);
}

.glow-comp{
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, .1);
  box-shadow: 0 0 12px rgba(75, 122, 141, .2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.miner-details{
  font-style: normal;
  font-weight: bold;
}
